<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <title>Tela da sala</title>
    <!--styles-->
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/room.css" />
    <link rel="stylesheet" href="/styles/modal.css" />
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap"
      rel="stylesheet"
    />
    <script src="/scripts/main.js" defer type="module"></script>
  </head>
  <body>
    <div id="room" class="content">
      <header>
        <a href="/">
          <img src="/images/logo.svg" alt="Logo do aplicativo" />
        </a>
        <div class="buttons">
          <div class="button outlined" id="roomId" data-id="<%= roomId %>">
            #<%= roomId %>
            <img src="/images/copy.svg" alt="Copiar código da sala" />
          </div>
          <a href="/create-pass" class="button">
            <img src="/images/users-white.svg" alt="Criar uma sala" />
            Criar sala
          </a>
        </div>
      </header>

      <main>
        <section id="questionForm">
          <h2>Faça sua pergunta</h2>
          <form action="/question/create/<%= roomId %>" method="POST">
            <label class="srOnly" for-id="question"
              >O que você quer perguntar?
            </label>
            <textarea
              name="question"
              id="question"
              placeholder="O que você quer perguntar?"
            ></textarea>
            <footer>
              <div>
                <img src="/images/lock.svg" alt="Cadeado" />
                Esta pergunta é anônima
              </div>
              <button>Enviar</button>
            </footer>
          </form>
        </section>

        <section id="questions">
          <h2 class="srOnly">Perguntas da comunidade</h2>
          <div class="questions">
            <% if(isNoQuestions){%>
            <!---->
            <%- include('parts/no-question') %>
            <!---->
            <% } %>
            <!---->
            <% questions.forEach(question => { %>
            <div class="questionWrapper">
              <div class="questionContent">
                <div class="user">
                  <img src="/images/user.svg" alt="Foto de usuário" />
                </div>
                <div class="question">
                  <p><%= question.title %></p>
                </div>
              </div>
              <div class="actions">
                <a href="#" class="check" data-id="<%= question.id %>">
                  <img
                    src="/images/check.svg"
                    alt="Marcar pergunta como lida"
                  />
                  Marcar como lida
                </a>
                <a href="#" class="delete" data-id="<%= question.id %>">
                  <img src="/images/trash.svg" alt="Excluir pergunta" />
                  Excluir
                </a>
              </div>
            </div>
            <% }); %>
            <!---->
            <% questionsRead.forEach(questionRead => { %>
            <div class="questionWrapper read">
              <div class="questionContent">
                <div class="user">
                  <img src="/images/user.svg" alt="Foto de usuário" />
                </div>
                <div class="question">
                  <p><%= questionRead.title %></p>
                </div>
              </div>
              <div class="actions">
                <a href="#" class="delete" data-id="<%= questionRead.id %>">
                  <img src="/images/trash.svg" alt="Excluir pergunta" />
                  Excluir
                </a>
              </div>
            </div>
            <% }); %>
          </div>
        </section>
      </main>
    </div>
    <div class="modalWrapper">
      <div class="modal">
        <h2>Excluir essa pergunta</h2>
        <p>Tem certeza que deseja excluir esta pergunta?</p>
        <form action="#" method="POST">
          <label class="srOnly" for-id="password"
            >Digite sua senha para confirmar a exclusão</label
          >
          <input
            id="password"
            type="password"
            name="password"
            placeholder="Digite sua senha"
          />
          <div class="buttons">
            <div class="button cancel gray">Cancelar</div>
            <button class="">Sim, excluir</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
